

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/************************************/
/*font for the body*/
@mixin body-copy{
    font-family: "Poppins";
    font-weight: 400;
    color: $grey-400;
    font-size: 0.9rem;
}

/*base for the container styling*/
@mixin container-styling-base{
  max-width: 320px;
  max-height:320px;
  margin: 2px;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 5px;
  box-shadow:0 1rem 1rem 0 rgba(12, 75, 170, 0.1);
  background-color: $white;
}

/*svg placement*/
@mixin svg-spot{
  display: flex;
      flex-direction: column-reverse;
      align-self: flex-end;
      justify-self: flex-end;
      padding-top: 40px;
}

/*Colors*/

/*Primary*/
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

/*Neutral*/
$grey-500:hsl(234, 12%, 34%);
$grey-400:hsl(212, 6%, 44%);
$white:hsl(0, 0%, 100%);


html{
 background-color:hsl(0, 100%, 99%);
}

/*fonts*/
body{
 h1{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
h2{
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 200;
}

h4{
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    line-height: 3vh;
    padding-bottom: 50px;
}
h1,h2,h4{
    text-align: center;
    color: $grey-500;
} 
h3{
    font-family: "Poppins";
    font-size: 1.1rem;
    color: $grey-500;
}
p{
 @include body-copy()
}  
}

main {
display: flex;
flex-direction:column;
align-items:center;
gap: 10px;

.container1{
    @include container-styling-base();
    border-top:solid 0.25rem rgba(3, 167, 173, 0.598);
    
    .supervisor{
     @include svg-spot();
    }
}
.container2{
  @include container-styling-base();
  border-top:solid 0.25rem rgba(208, 19, 28, 0.833);
  .team-builder{
    @include svg-spot();
  }
}

.container3{
  @include container-styling-base();
  border-top:solid 0.25rem  rgba(234, 196, 7, 0.927);
  .karma{
    @include svg-spot();
  }
}

.container4{
  @include container-styling-base();
  border-top:solid 0.25rem rgba(44, 139, 194, 0.753);
  .calculator{
    @include svg-spot();
  }
}
}

@media (min-width: 1000px){ 
  p{
    font-size: 0.95rem;
  }
  
  main{
    display: grid;

  }
 .container1{
  grid-row: 1/3;
  
 }
.container2{
  grid-row: 1/1 ;
}

.container3{
  grid-row: 2/2;
}

 .container4{
  grid-row: 1/3;
 }
}














.attribution { 
    font-size: 11px;
    text-align: center;
    .attribution a { 
        color: hsl(228, 45%, 44%); }
}

